.about-heading {
  grid-column: 1/4;

  text-align: center;
  width: 100%;
  padding: 2rem;

  background-color: rgb(244, 249, 250);
  border-bottom: solid 0.5px;
  border-color: rgb(182, 227, 238);
}

.about-section {
  width: 100%;
  height: 800px;
  max-height: 700px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10rem 1fr;
}

.about-img {
  grid-column: 1/2;
  grid-row: 1/3;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;

  padding: 2rem;
}

.about-img-item {
  width: 45vw;
  height: 100%;
  object-fit: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}

.about-textbox {
  grid-row: 1/3;
  grid-column: 2/3;
}

.about-text {
  grid-column: 2/3;
  grid-row: 2/3;

  padding: 2rem;

  align-items: center;
  justify-content: center;

  display: grid;

  font-size: 1.75rem;
  line-height: 3rem;
  word-spacing: 0.25rem;
}

.about-title {
  grid-column: 1/2;
  grid-row: 1/2;

  letter-spacing: 0.4px;

  /* text-align: ; */

  padding: 2rem;
  padding-bottom: 0;
  font-family: "source serif pro";
  width: 100%;
  font-size: 3rem;
}

@media (max-width: 800px) {
  .about-section {
    height: auto;
    max-height: none;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .about-img {
    grid-column: 1/2;
    grid-row: 1/2;
    position: relative;

    height: 100%;

    padding: 1rem;

    background-color: white;
  }

  .about-img-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
  }

  .about-textbox {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 1rem;
  }
  .about-text {
    grid-column: 1/2;
    grid-row: 3/4;

    padding: 2rem;

    font-size: 1.25rem;
    line-height: 2rem;
  }

  .about-title {
    grid-column: 1/2;
    grid-row: 2/3;

    letter-spacing: 0.4px;

    /* text-align: ; */

    padding: 2rem;
    padding-bottom: 0;
    font-size: 2.25rem !important;
  }
}

@media (min-width: 1500px) {
}
