body {
  background: linear-gradient(rgb(23, 104, 158), rgba(18, 35, 107, 0.972));
  height: 100vh;
}

.homepage-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.logo-section {
  grid-column: 1/2;
  padding: 8rem;
}

.contact-details {
  grid-column: 2/3;
  padding: 8rem;

  font-size: 2rem;
  font-weight: bold;
  color: white;

  font-family: "europa";
}
