.homepage {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
}

.index-img {
  position: fixed !important;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;

  height: auto;
  width: 100%;
}

.homepage-wrapper {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: left;
  align-items: flex-start;
  flex-direction: column;
  text-justify: center;

  /* border-radius: 15px; */

  background: linear-gradient(rgba(0, 13, 43, 0.959), rgba(5, 115, 211, 0.753));

  z-index: 0;
}

.website-logo {
  position: fixed;
  top: 18%;
  left: 5%;
  text-justify: center;
  text-align: center;
}

.website-description {
  position: fixed;
  top: 55%;
  left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  width: 40%;
  color: rgb(255, 255, 250);
}

.main-heading {
  color: #fff;
  font-family: "Britannic Bold";
  font-size: 3.5rem;
  text-transform: uppercase;
}

.sub-heading {
  font-family: "Teko-Bold";
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 0.25rem;
  font-stretch: ultra-expanded;
  color: #fff;
}

.contact-details {
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  font-family: "Ubuntu";
  letter-spacing: 0.15rem;
  line-height: 2.25rem;
  padding: 3rem;

  text-justify: center;
  text-align: center;
}

@media (max-width: 850px) {
  .homepage {
    width: 100%;
    height: auto;
  }

  .index-img {
    position: fixed !important;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;

    height: auto;
    width: 100%;
  }

  .logo-section {
    display: none;
  }

  .contact-details {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    font-family: "Ubuntu";
    letter-spacing: 0.15rem;
    line-height: 2.25rem;
    padding: 3rem;

    text-justify: center;
    text-align: center;
  }

  .badge {
    position: fixed !important;
    bottom: 4rem;
    right: 4rem;
    height: 200px;
    width: 200px;
  }

  .website-logo {
    margin: 2rem;
    margin-top: 4rem;
  }
}
