.service-nav-buttons {
  margin-bottom: 3rem;
  margin-top: 2rem;
}

.article-subheading {
  display: flex;
  font-family: "Electro-Reg";
  justify-self: center;
  align-items: center;
  margin-bottom: 5rem;
  line-height: 4rem;
  text-transform: uppercase;

  /* background-color: rgb(255, 255, 255); */
}

.article-layout1 {
  padding-top: 6rem;
}

@media (max-width: 850px) {
  .article-layout1 {
    padding-top: 3rem;
  }
}

.article-content {
  overflow: hidden;

  line-height: 2rem;
  letter-spacing: 0.1rem;
  padding: 2rem;
  font-family: "Ubuntu";
  width: 100vw;
  max-height: 2000px;
  font-size: 1.1rem;
  background-color: white;
}

.article-text {
  grid-column: 1/2;

  padding: 2.75rem;

  line-height: 2.25rem;
  font-size: 1.75rem;
}

.article-img-container {
  grid-column: 2/3;
  max-height: 1000px;
  max-width: 880px;
  padding: 3rem;

  overflow: hidden;
}

.main-image {
  object-fit: cover;
  height: auto;
  width: auto;
}

.mailto-services {
  margin-top: 2rem !important;
}

@media (max-width: 850px) {
  .article-layout1 {
    display: block;
    width: 100%;
  }

  .article-title {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    text-align: left;
    text-justify: left;
    line-height: 2.75rem;
    padding: 1rem;
  }

  .article-subheading {
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 3rem;
  }

  .article-content {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .author-info {
    grid-row: 2/3;
  }

  .article-text {
    grid-row: 4/5;
    padding: 2rem;
    font-size: 1.25rem;
  }

  .info-box {
    grid-row: 3/4;
    padding: 0;
  }

  .article-img-container {
    width: 100%;

    grid-column: 1/2;
    grid-row: 1/2;
  }

  .icon-bar a {
    font-size: 120%;
  }

  .article-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    max-height: none;
    max-width: none;

    border: none;
    margin-bottom: none;

    padding-top: 0;
    grid-column: 1/2;
    grid-row: 4/5;
    width: 100%;

    padding: 0rem;
  }
}
