@import "../components/layout.scss";

$mobile-breakpoint: 850px;
$bigscreen-breakpoint: 2000px;

.service-nav-buttons {
  margin-bottom: 3rem;
  margin-top: 2rem;
}

.article-subheading {
  font-family: "Electro-Reg";
  padding-bottom: 3.5rem;
  padding-top: 3.5rem;

  line-height: 4rem;
  text-transform: uppercase;
  justify-content: center;
  display: flex;
  text-align: center;
}

.article-layout1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 850px) {
  .article-layout1 {
    padding-top: 3rem;
  }
}

.article-content {
  overflow: hidden;
  max-width: 120rem;

  line-height: 2rem;
  letter-spacing: 0.1rem;
  font-family: "Ubuntu";
  width: 100vw;
  max-height: 2000px;
  font-size: 1.1rem;
  background-color: white;
}

.article-text {
  font-size: 1.6rem;
  line-height: 1.75;
  padding: 2rem;
  width: 75%;
  margin: auto;
  color: rgb(50, 50, 60);
  text-align: center;

  @media (max-width: $mobile-breakpoint) {
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 3rem;
  }
}

.article-img-container {
  overflow: hidden;
  margin: auto;
  display: flex;
  align-items: center;
  height: 450px;
  width: 850px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 9rem;

  @media (max-width: $mobile-breakpoint) {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0rem;
  }
}

.main-image {
  object-fit: cover;
  height: auto;
  width: 100%;
}

.mailto-services {
  margin-top: 2rem !important;
}

@media (max-width: 850px) {
  .article-layout1 {
    display: block;
    width: 100%;
  }

  .article-title {
    width: 100%;
    text-align: left;
    text-justify: left;
    line-height: 2.75rem;
    padding: 1rem;
  }

  .article-img-container {
    width: 100%;
  }

  .icon-bar a {
    font-size: 120%;
  }

  .article-content {
    max-height: none;
    max-width: none;

    border: none;
    margin-bottom: none;

    padding-top: 0;

    width: 100%;

    padding: 0rem;
  }
}
