@import "./layout.scss";

$mobile-breakpoint: 850px;
$bigscreen-breakpoint: 2000px;

.footer {
  grid-row: auto;

  display: flex;
  width: 100%;
  height: 175px;

  justify-content: space-between;
  align-items: center;

  background-color: #0a1638;
}

.footer-contact-wrapper {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding-right: 3rem;
  height: 100%;
  h3 {
    margin-top: 2rem;
    margin-bottom: 0rem;
  }
}

.footer-contact-details {
  display: grid;
  grid-template-columns: auto 3rem;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  font-family: "Ubuntu";
  letter-spacing: 0.1rem;
  font-weight: bold;
  text-decoration: none;
  text-align: end;

  color: white;
  margin: 1rem;
  margin-right: 0;

  @media (max-width: $mobile-breakpoint) {
    padding-right: 0;
    font-size: 1rem;
  }
}

.address-wrapper {
  height: 100%;
  padding-left: 3rem;

  h3 {
    margin-top: 2rem;
  }

  address {
    color: white;
    font-family: "Ubuntu";
    letter-spacing: 0.1rem;
    font-weight: bold;
    text-decoration: none;
    font-style: none;
    margin: 1rem;
    margin-top: 2rem;
    margin-left: 0;
  }

  @media (max-width: $mobile-breakpoint) {
    display: none;
  }
}
