.footer {
  display: flex;
  bottom: 0;
  width: 100%;

  justify-content: center;
  align-items: center;

  height: 25vh;
  background-color: #1e1f22;
}

.footer-inner {
  grid-column: 2/3;
  padding: 20px;
  padding-bottom: 0px;
  text-align: center;

  color: white;
  font-size: 1rem;
}
