@import "./layout.scss";

$mobile-breakpoint: 850px;
$bigscreen-breakpoint: 2000px;

.footer {
  grid-row: auto;
  display: flex;
  width: 100%;

  justify-content: space-between;
  align-items: center;

  background-color: #0a1638;
}

.footer-contact-wrapper {
  display: inline-block;
  text-align: right;
  padding-right: 1rem;
  height: 100%;

  h3 {
    margin-top: 2rem;
    margin-bottom: 0rem;
  }

  @media (max-width: $mobile-breakpoint) {
    width: 100%;
  }
}

.address-wrapper {
  height: 100%;
  padding-left: 3rem;

  h3 {
    margin-top: 2rem;
  }

  address {
    color: white;
    letter-spacing: 0.1rem;
    font-weight: bold;
    font-family: "open sans", sans-serif;

    text-decoration: none;
    font-style: normal;
    margin: 1rem;
    margin-top: 2rem;
    margin-left: 0;
  }

  @media (max-width: $mobile-breakpoint) {
    display: none;
  }
}
