.footer {
  grid-column: 1/2;
  grid-row: auto;

  display: flex;
  width: 100%;

  justify-content: center;
  align-items: center;

  background-color: #ffffff;
}

.footer-section2 {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  font-family: "ubuntu";
  font-size: 2rem;
  text-transform: uppercase;
  color: rgba(27, 35, 58, 0.959);
}

.footer-logo-wrapper {
  display: flex;
  justify-content: right;
  flex-direction: row;
  align-items: center;
  width: 50%;
  height: auto;

  margin-left: 4rem;
}

.ECA-logo-footer {
  width: 50%;
  max-height: 140px;
  max-width: 200px;

  float: left;
  margin: 0.5rem;
}

.elesca-logo-footer {
  width: 75%;

  margin: 0.5rem;
}

.footer-contact-details {
  color: rgb(0, 7, 26);
}

@media (max-width: 850px) {
  .footer-info {
    width: 100%;
  }
}
