@import "./layout.scss";

$mobile-breakpoint: 850px;
$bigscreen-breakpoint: 2000px;

.footer {
  width: 100%;
  position: relative;
  background-image: url("../images/commercial-after.jpg");
}

.footerInner {
  width: 85%;
  grid-row: auto;
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.footer-contact-wrapper {
  display: inline-block;
  text-align: right;
  padding-right: 1rem;
  height: 100%;

  h3 {
    margin-top: 2rem;
    margin-bottom: 0rem;
  }

  @media (max-width: $mobile-breakpoint) {
    width: 100%;
  }
}

.address-wrapper {
  height: 100%;
  padding-left: 3rem;
  font-family: "open sans", sans-serif;

  h3 {
    margin-top: 2rem;
  }

  address {
    color: white;
    letter-spacing: 0.1rem;
    font-family: "open sans", sans-serif;
    font-size: 1.25rem;
    text-decoration: none;
    font-style: normal;
    margin: 1rem;
    margin-top: 2rem;
    margin-left: 0;
  }

  @media (max-width: $mobile-breakpoint) {
    display: none;
  }
}

.contact-form {
  flex-grow: 1;
  z-index: 1;
  width: calc(50% - 1.5em);
  padding: 6rem 1.5rem;
  min-width: 340px;
}

.fields {
  height: 100%;
}

.field {
  padding: 1.5em 0 0 1.5em;
}

.input {
  margin-bottom: 0.75rem;
  box-shadow: inset 0 0.0625em 0.125em rgba(27, 27, 27, 0.05);
  width: 100%;
  background-color: rgba(255, 255, 255, 0.055);
  border: solid $lightTone 1px;
  border-radius: 5px;
  color: $lightTone;
  padding: 1rem;
  height: 2.75rem;
}

.control {
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.5em;
  width: 100%;
  justify-content: flex-start;
  line-height: 1.5;
  position: relative;
  vertical-align: top;
}

.label {
  margin-bottom: 1.5em;
  color: $lightTone;
  display: block;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.button {
  border: solid $midTone 2px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.055);
  color: $lightTone;
  text-transform: uppercase;
  padding: 0.74rem 1rem;
  border-radius: 5px;
}

// .text-area {
//   max-height: 40em;
//   min-height: 8em;

//   &:hover {
//   }
// }
