@import "./layout.scss";

$mobile-breakpoint: 850px;
$bigscreen-breakpoint: 2000px;

.top-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
  background-color: $yellow;

  @media (max-width: $mobile-breakpoint) {
    display: none;
  }

  .top-section-content {
    max-width: 120rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 100%;
    padding-left: 1rem;

    p {
      padding: 1rem;
    }
  }
}

.header {
  display: flex;
  justify-content: center;
  position: inherit;
  margin: auto;
  z-index: 6;

  background: linear-gradient(rgba(0, 13, 43, 0.959), #004c8e);
  /* width: 100vw; */
  left: 0;
  right: 0;

  @media (max-width: $mobile-breakpoint) {
    position: fixed;
    height: 154.33px;
  }
}

.header-content {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr;
  max-width: 100vw;
  width: 100%;
}

.header-row1 {
  display: flex;
  flex-direction: row;
  padding-left: 2rem;
  max-width: 120rem;
  justify-self: center;
  width: 100%;

  .icon-bar {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;

    @media (max-width: 500px) {
      position: fixed;
      top: 35%;
      right: 0;
      display: flex;
      flex-direction: column;

      padding: 0rem;
      background-color: #e9c803;
      border-radius: 10px 0 0 10px;
    }

    .social-icon {
      padding: 0.75rem;
      height: 3rem;
      width: 3rem;
      fill: #e9c803;
      @media (max-width: 500px) {
        fill: #031029;
      }
    }
  }

  @media (max-width: $mobile-breakpoint) {
    padding-left: 0;
    grid-template-columns: auto;
  }
}

.header-row2 {
  z-index: 1;
  display: flex;
  justify-content: center;

  background-color: white;
  box-shadow: 0 4px 2px -2px rgba(93, 107, 124, 0.753);
}

.header-row2-content {
  max-width: 120rem;
  display: flex;
  grid-template-rows: 1fr;
  justify-content: space-between;
  width: 100%;
}

.nav {
  grid-row: 1/2;
}

.main-heading {
  color: #fff;
  font-family: "Britannic Bold";
  font-size: 3.75rem;
  text-transform: uppercase;
  text-shadow: 0 2px 20px rgba(0, 0, 0, 0.16);

  @media (max-width: $mobile-breakpoint) {
    font-size: 3rem;
  }

  @media (min-width: $bigscreen-breakpoint) {
    font-size: 4.3rem;
  }
}

.sub-heading {
  font-family: "Electro-Reg";
  text-transform: uppercase;
  font-size: 1.75rem;

  letter-spacing: 0.25rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 2px 20px rgba(0, 0, 0, 0.16);

  @media (max-width: $mobile-breakpoint) {
    font-size: 1.25rem;
  }

  @media (min-width: $bigscreen-breakpoint) {
    font-size: 2rem;
  }
}

.header-contact-details {
  grid-row: 1/2;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @media (max-width: $mobile-breakpoint) {
    margin-bottom: 1rem;
  }
}

.contact-details {
  display: grid;
  grid-template-columns: auto 3rem;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  font-family: "Ubuntu";
  letter-spacing: 0.1rem;
  font-weight: bold;
  text-decoration: none;

  text-align: end;

  color: white;
  font-size: 1.25rem;
  margin: 1rem;

  @media (max-width: $mobile-breakpoint) {
    display: none;
  }
}

.header-buttons {
  display: none !important;
}

.nav {
  max-width: 100vw;
  padding: 1rem;
}

.mobile-nav-drawer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-row: 1/2;

  padding: 1rem;
  padding-right: 3rem;
}

.mobile-hidden-button {
  @media (max-width: $mobile-breakpoint) {
    display: none !important;
  }
}

.website-logo-wrapper {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  line-height: 0.75;
  align-items: flex-start;
  white-space: nowrap;

  justify-content: center;

  transition: ease-in-out 0.3s;

  @media (max-width: $mobile-breakpoint) {
    padding: 1rem;
  }
}

.website-logo {
  text-align: center;
  line-height: 3.5rem;

  @media (max-width: $mobile-breakpoint) {
    line-height: 2.5rem;
    padding: 1rem;
  }
}

.back-button {
  display: flex;
  text-decoration: none;
  height: 5rem;
  width: 5rem;
  margin: 1rem;
  border-radius: 50%;

  background-color: rgba(209, 228, 252, 0);

  text-align: center;
  z-index: 6;

  transition: all 0.2;
  justify-content: center !important;
  align-items: center !important;

  @media (max-width: $mobile-breakpoint) {
    display: none;
  }
}

.nav-button {
  padding: 1rem;
  color: #0592cb !important;
  border: #0592cb solid !important;
  margin: 1rem;
  height: auto;
  max-height: 40px;
  text-decoration: none !important;

  align-items: center;
  justify-content: center;

  font-family: "Ubuntu Bold" !important;
}

.menu-button {
  display: none;
  padding: 1rem;
  color: #0592cb !important;
  border: #0592cb solid !important;
  margin: 1rem;
  height: auto;
  max-height: 40px;
  text-decoration: none !important;

  align-items: center;
  justify-content: center;

  font-family: "Ubuntu Bold" !important;

  @media (max-width: $mobile-breakpoint) {
    display: flex;
  }
}

// start back button css

// .back-button:hover {
//   background-color: rgba(213, 233, 250, 0.753);
// }

// .back-button-arrow {
//   font-size: 3rem !important;
//   color: black;
// }
// .mdc-button::before,
// .mdc-button::after {
//   background-color: #7decff91 !important;
// }

// end back button css

.ECA-logo {
  height: 54px;
  width: 115px;
  margin: 1rem;
  float: left;
  @media (max-width: $mobile-breakpoint) {
    height: 42px;
    width: 85px;
  }
}

.elecsa-logo {
  margin: 1rem;
  height: 60px;
  width: 186px;

  @media (max-width: $mobile-breakpoint) {
    height: 42px;
    width: 120px;
  }
}

.header-section2 {
  width: 100%;
  display: flex;
  grid-column: 2/3;
  grid-row: 1/2;
  align-items: center;
}

.header-logo-wrapper {
  grid-row: 1/2;
  display: flex;
  padding-left: 1rem;

  align-items: center;
}

.contact-details {
  margin: 0.75rem;
}

.contact-svg {
  fill: $yellow;
  width: 1.45rem;
  height: 1.45rem;
  margin: 0.75rem;
}

// start of drawer css
