.header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px rgb(54, 124, 188);
  /* box-shadow: 0 5px 8px -2px rgba(232, 231, 252, 0.315); */

  width: 100%;
  height: auto;

  position: fixed;

  z-index: 2;
}

.header-logo {
  display: none;
}

.header-main-logo {
  display: none;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.header-buttons {
  /* border: solid white 1px !important; */
  color: rgb(211, 235, 255) !important;
  font-size: 1rem !important;

  margin: 1rem;
  text-transform: none !important;

  width: auto;
  height: auto;
  max-height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.1rem !important;

  font-family: "Ubuntu Bold" !important;
}

.mdc-button::before,
.mdc-button::after {
  background-color: #ffffff !important;
}

.arrow-down-off {
  display: none !important;
}

.mobile-menu-button {
  display: none !important;
}
/* 
.arrow-up {
  padding: 0.25rem !important;
  margin: 1rem !important;
  font-size: 2.25rem !important;
  color: black !important;

  display: block;

  position: fixed;
  right: 3%;
  top: 3%;
} */
/* 
.arrow-up:hover {
  background-color: rgba(135, 152, 182, 0.698) !important;
  border-radius: 50% !important;
} */

.arrow-up-off {
  display: none;
  color: transparent;
}

.header-dropdown {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  align-items: center;

  position: fixed;

  background-color: rgba(255, 255, 255, 0);

  top: 0;
  bottom: 0;
  right: 0;
  left: 35%;
  transform: translateX(100%);
  height: auto;

  transition: all 0.5s;

  overflow: auto;

  z-index: 1;
}

.service-items-wrapper {
  grid-column: 1/2;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-self: center;

  padding-top: 0px;
  padding: 1rem;
  width: 75%;

  background-color: rgb(255, 255, 255);
  box-shadow: 0 5px 25px -2px rgba(1, 1, 15, 0.52);
}

.header-dropdown-active {
  transform: translateY(0%);
}

/* .services-title {
  grid-column: 1/2;
  text-justify: center;
  text-align: center;
  padding: 1rem;
  height: auto;
  background-color: rgb(5, 21, 35);

  color: rgb(218, 218, 218);
} */

/* .appliance-svg {
  grid-column: 1/2;
  grid-row: 2/3;

  padding: 1rem;
  max-width: 300px;
} */

.service-svg {
  width: 85px;
  height: auto;

  background-color: rgba(1, 15, 29, 0.959);
  border-radius: 50%;

  fill: rgb(255, 255, 255);

  box-shadow: 0 5px 10px -2px rgba(36, 62, 119, 0.671);
}

.appliance-svg-wrapper {
  display: flex;
  flex-direction: column;
  grid-row: 2/3;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.service-icon-text {
  color: rgba(35, 45, 66, 0.972);
  font-family: "Ubuntu Bold";
  font-size: 1rem;
  padding: 0.75rem;

  text-justify: center;
  text-align: center;
}

.light-bulb-wrapper {
  display: flex;
  flex-direction: column;

  /* grid-column: 2/3; */
  grid-row: 2/3;

  justify-content: center;
  align-items: center;
}

.rewire-wrapper {
  display: flex;
  flex-direction: column;

  /* grid-column: 1/2; */
  grid-row: 1/2;

  /* padding: 2rem; */

  justify-content: center;
  align-items: center;
}

.bolt-wrapper {
  display: flex;
  flex-direction: column;

  /* grid-column: 1/2; */
  grid-row: 2/3;

  /* padding: 2rem; */

  justify-content: center;
  align-items: center;
}

.fuse-box-wrapper {
  display: flex;
  flex-direction: column;

  /* grid-column: 2/3; */
  grid-row: 1/2;

  /* padding: 2rem; */

  justify-content: center;
  align-items: center;
}

.fault-wrapper {
  display: flex;
  flex-direction: column;

  /* grid-column: 3/4; */
  grid-row: 1/2;

  /* padding: 2rem; */

  justify-content: center;
  align-items: center;
}

.EICR-wrapper {
  display: flex;
  flex-direction: column;

  grid-row: 2/3;

  justify-content: center;
  align-items: center;
}

.mobile-menu-button {
  padding: 1rem;
  /* color: white !important; */
  font-size: 1rem !important;

  margin: 1rem;

  width: 150px !important;
  height: auto;
  max-height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-family: "Ubuntu Bold" !important;
}

@media (max-width: 850px) {
  .header {
    background: transparent;
    height: 150px;
    border-bottom-left-radius: -30%;
    border-bottom-right-radius: 30%;
  }
  /* .header-svg {
    display: flex !important;
    height: 500px !important;
  } */

  /* .header-logo {
    display: flex;
    height: 125px;
    width: auto;
  }

  .header-logo-wrapper {
    display: flex;
    margin: 2rem;
  } */
  /* 
  .header-main-logo {
    display: flex;
  } */

  .ECA-logo-header {
    display: none;
  }

  .elesca-logo-header {
    display: none;
  }

  .header-buttons {
    display: none !important;
  }

  .header-dropdown {
    top: 0px;
    height: auto;
  }

  .service-items-wrapper {
    grid-column: 1/2;

    display: flex;
    flex-direction: column;
    height: auto;

    width: 100vw;
  }

  .service-svg {
    width: 100px;
  }
  .service-icon-text {
    font-size: 1rem;
  }

  .mobile-menu-button {
    padding: 1rem;
    color: white !important;
    font-size: 1rem !important;
    border: #fff solid 0.5px !important;
    margin: 1rem;

    width: 100px !important;
    height: auto;
    max-height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-family: "Ubuntu Bold" !important;
  }
}
