.icon-bar {
  grid-column-start: 1;
  display: grid;

  position: fixed;
  top: 250px;
  left: 0px;

  background-color: rgb(26, 31, 32);
  border-style: solid;
  border-color: rgb(34, 47, 51);
  border-radius: 0 5px 5px 0;
  z-index: 1;

  transition: all 0.2s;
}

.icon-bar a {
  text-align: center;
  justify-items: center;
  text-decoration: none;
  font-style: normal;

  margin: auto;
  padding: 5px;
  color: white;
  font-size: 1.5rem;
}

.icon-bar a:hover {
  color: rgb(105, 183, 202);
}

/* .icon-bar a:hover .icon-bar {
  background-color: white;
} */

.fa-facebook:before {
  content: "\f09A";
  font-family: FontAwesome;
  font-style: normal;
}

.fa-instagram:before {
  content: "\f16D";
  font-family: FontAwesome;
  font-style: normal;
}

.fa-twitter:before {
  content: "\f099";
  font-family: FontAwesome;
  font-style: normal;
}

@media (max-width: 800px) {
  .icon-bar {
    display: none;
  }
}
