* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Ubuntu/Ubuntu-Regular.ttf);
}

@font-face {
  font-family: "Ubuntu Bold";
  src: url(../fonts/Ubuntu/Ubuntu-Bold.ttf);
}

h1 {
  font-family: "Ubuntu Bold";
  font-size: 2.25rem;
}
