body {
  font-family: "europa";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: europa;
  width: 100%;
  letter-spacing: 0.5px;
  font-size: 3.5rem;
  color: black;
}

h2 {
  display: block;
  font-size: 2rem;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  font-family: "source serif pro";
  color: rgb(52, 78, 83);
}

h3 {
  font-size: 1.25rem;
}

@supports (-webkit-overflow-scrolling: touch) {
  /* CSS specific to iOS devices */
}

@font-face {
  font-family: "source serif pro";
  src: url("../fonts/sourceserifpro-regular-webfont.woff2");
}

@font-face {
  font-family: "source serif pro bold";
  src: url("../fonts/sourceserifpro-bold-webfont.woff2");
}

@font-face {
  font-family: "grotters";
  src: url("../fonts/Grotters.ttf");
}

@import url("https://use.typekit.net/jmb1wht.css");

@media (max-width: 800px) {
  h1 {
    font-size: 3rem !important;
  }
  h2 {
    font-size: 1.75rem !important;
    font-weight: bold;
  }
}
