@import "./hover-effect.scss";
@import "./layout.scss";

$mobile-breakpoint: 850px;

.services-title {
  font-family: "Ubuntu";
  text-transform: uppercase;
  font-size: 3rem;
  color: white !important;

  // @media (max-width: $mobile-breakpoint) {
  //   display: none;
  // }
}

.mob-clickme {
  display: none;

  @media (max-width: $mobile-breakpoint) {
    display: block;
    background-color: $lightTone;
    color: $darkTone;
    padding: 2rem;
    text-align: center;
  }
}

.services-title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: -4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;

  background: linear-gradient(rgba(0, 13, 43, 0.911), rgba(0, 13, 43, 0.911));
  @include add-hover-effect($darkTone);

  @media (max-width: $mobile-breakpoint) {
    display: none;
  }
}

.service-items-wrapper {
  width: 100%;
  max-width: 120rem;

  -webkit-overflow-scrolling: touch;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  flex-wrap: wrap;

  justify-self: center;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;

  @media (max-width: $mobile-breakpoint) {
    height: 240px;
    padding-bottom: 2rem;
  }
}

.svg-wrapper {
  margin: 1rem;
  transition: all 0.5s;
}

.service-item-wrapper {
  vertical-align: top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  max-width: 120rem;

  padding: 2rem;
}

.gradient-svg {
  position: absolute;
  width: 125px;
  height: auto;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  transition: all 0.2s ease-in-out;

  opacity: 0;

  @media (max-width: $mobile-breakpoint) {
    display: none;
  }
}

.filled-svg {
  width: 125px;
  z-index: 0;
  height: auto;
  border-radius: 50%;
  background: rgb(255, 255, 255);

  @media (max-width: $mobile-breakpoint) {
    width: 75px;
  }
}

.service-icon-text {
  color: rgba(35, 45, 66, 0.972);
  font-family: "Ubuntu Bold";
  font-size: 1.25rem;
  text-decoration: none;

  text-justify: center;
  text-align: center;
}

.svg-wrapper:hover .gradient-svg {
  opacity: 1;
}

.svg-wrapper:hover {
  transform: translateY(-1rem);

  @media (max-width: $mobile-breakpoint) {
    transform: unset;
  }
}
